<%- include('includes/head') %>
<%- include('includes/nav') %>
<head><link rel="stylesheet" href="/assets/css/style-novaInstrucao.css"></head>
<section class="container-instrucao">
    <div>
        <img src="/assets/img/add (2) 1.png" alt="">
        <h1><%= instrucao.categoriaInstrucao %></h1>
    </div>
    <%- include('includes/messages'); %>

    <% if(instrucao._id) { %>
        <form class="formulario-novaInstrucao" id="formulario-novaInstrucao" action="/novaInstrucao/edit/<%= instrucao._id %>" method="POST">
        <% } else { %>
        <form class="formulario-novaInstrucao" id="formulario-novaInstrucao" action="/novaInstrucao/register" method="POST">
        <% } %>
    
        <% if(user.tipoUsuario === "administrador") { %>
            <td><a href="/novaInstrucao/index/<%= instrucao._id %>">Editar</a></td>
            <td><a class="text-danger" href="/novaInstrucao/delete/<%= instrucao._id %>">Excluir</a></td>
          <% }%>

        <input type="hidden" name="_csrf" value=<%= csrfToken %>>

        <h2><%= instrucao.temaInstrucao %></h2>
        <p><%= instrucao.descricaoInstrucao %></p>
       
        
    </form>
 


</section>
<%- include('includes/footer') %>