<%- include('includes/head') %>
    <%- include('includes/nav') %>
    <%- include('includes/botaoVoltar') %>

        <!-- <head><link rel="stylesheet" href="/assets/css/style-novaInstrucao.css"></head> -->
        <style>
            .container-instrucao #titulo {
                display: flex;
                align-items: center;

            }

            .container-instrucao img {
                background-color: #3CDDDD;
                border-radius: 15px;
                padding: 10px;
                margin: 0 15px 15px 0;
            }
        </style>

        <section class="container-instrucao">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 my-3">

                        <div class="row">
                            <div class="col-lg my-5">

                                <div id="titulo">
                                    <img class="img-thumbnail" src="/assets/img/add (2) 1.png" alt="">
                                    <h1>Nova Instrução</h1>
                                </div>
                                <%- include('includes/messages'); %>

                                    <% if(instrucao._id) { %>
                                        <form class="formulario-novaInstrucao" id="formulario-novaInstrucao"
                                            action="/novaInstrucao/edit/<%= instrucao._id %>" method="POST">
                                            <% } else { %>
                                                <form class="formulario-novaInstrucao" id="formulario-novaInstrucao"
                                                    action="/novaInstrucao/register" method="POST">
                                                    <% } %>
                                                        <!-- <form class="formulario-novaInstrucao" action="/novaInstrucao/register" id="formulario-novaInstrucao" method="POST"> -->
                                                        <div class="mb-3">
                                                            <input type="hidden" name="inputCnpjEmpresa" value=<%= user.inputCnpjEmpresa %>>
                                                            <input class="form-control" type="hidden" name="_csrf"
                                                                value=<%=csrfToken %>>
                                                            <label class="form-label"
                                                                for="categoria-instrucao">Categoria:</label>
                                                            <input class="form-control"
                                                                value="<%= instrucao.categoriaInstrucao %>" type="text"
                                                                id="categoria-instrucao" name="categoriaInstrucao">


                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="tema-instrucao">Título:</label>
                                                            <input class="form-control"
                                                                value="<%= instrucao.temaInstrucao %>" type="text"
                                                                id="tema-instrucao" name="temaInstrucao">

                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="descricao-instrucao">Descrição:</label>
                                                            <textarea class="form-control" name="descricaoInstrucao"
                                                                id="descricao-instrucao" cols="30"
                                                                rows="10"><%= instrucao.descricaoInstrucao %></textarea>
                                                        </div>
                                                        
                                                        <div class="input-group mb-3">
                                                            <label class="input-group-text" for="inputGroupFile01">Upload</label>
                                                            <input type="file" class="form-control" id="inputGroupFile01">
                                                          </div>
                                                        <!-- <button class="cancelar-instrucao" type="submit"> Cancelar</button> -->
                                                        <button class="btn btn-primary" type="submit">Salvar</button>

                                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <%- include('includes/footer') %>
        